* {
    margin: 0;
    padding: 0;
}
#contato-page-content{
    background: #60CAD9;
    height: 100vh;
    min-height: 800px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 98% 2%;
    grid-template-rows: 100% 100%;
}
#contato-content-wrapper{
    position: relative;
    height    : 100%;
    background: #FFFFFF;
    justify-content: space-between;
}
#contato-box{
    position: relative;
    height    : 100%;
    background: url("../images/Vector 20.png") no-repeat;
    background-size: cover;
}
#contato-content-wrapper form{
    padding: 60px;
}
#contato-content-wrapper form h1{
    max-width: 400px;
    font-size: 44px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #21243D;
}

#contato-content-wrapper form h2{
    font-size: 26px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #21243D;
}

#contato-content-wrapper form p{

    margin-top: 40px;
    font-size: 18px;
    line-height: 25px;
}
.input{
    width: 100%;
    font-size: 18px;
}
.auto_height {
    font-size: 18px;
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 60px;
}

@media only screen and (max-width: 800px) {
    #contato-page-content{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;

    }
}