* {
    margin: 0;
    padding: 0;
}
#page-content{
    background: #FF7999;

    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 98% 2%;
    grid-template-rows: 100% 100%;
}
#page-header{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}
#page-header a{
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    color: #21243D;
    /*color: #FFFFFF;*/
    /*background-color: #FF6464;*/
}

#sociais{
    margin: 10px;
    display: flex;
    justify-content: center;
}
#sociais a{
    margin: 10px;
}

#content-wrapper{
    position: relative;
    height    : 100%;
    background: #FFFFFF;
    justify-content: space-between;
}
#box{
    position: relative;
    height    : 100%;
    background: url("../images/Vector 19.png") no-repeat;
    background-size: cover;
}
.row{
    margin: 0!important;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}
.row .sideLeft{
    flex: 5%;
    display: block;
}
.row .sideRight{
    padding-left: 30px;
    flex: 55%;
    display: block;
}
.listTech{
    display: flex;
    flex-direction: row;
}
.listTech span{
    color: #FFFFFF;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: url("../images/Rectangle 2.png") no-repeat;
    background-size: cover;
    background-position: center;
}

#content-wrapper img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
}
#content-wrapper main h1{
    max-width: 400px;
    font-size: 44px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    /* or 136% */


    /* Dark Color */

    color: #21243D;
}

#content-wrapper main h2{
    font-size: 26px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* or 136% */

    /* Dark Color */
    color: #21243D;
}

#content-wrapper main p{

    margin-top: 40px;
    font-size: 18px;
    line-height: 25px;
}

@media only screen and (max-width: 800px) {
    #page-content{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;

    }
    .row{
        padding: 1%;
        padding-bottom: 3%;
        flex-direction: column;
    }
    .sideLeft img{
        width: 50%;
        height: 50%;
    }
    .row .sideLeft{
        display: block;
    }
    .row .sideRight{
        padding-left: 10px;
        display: block;

    }
    #content-wrapper main h1{
        max-width: 400px;
        font-family: 'Heebo', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        /* or 136% */


        /* Dark Color */

        color: #21243D;
    }

    #content-wrapper main h2{
        font-family: 'Heebo', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        /* or 136% */

        /* Dark Color */
        color: #21243D;
    }

    #content-wrapper main p{

        margin-top: 40px;
        font-family: 'Heebo', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
    }
    #about{
        text-align: center;
    }
    #page-header{
        justify-content: center;
    }
    #sociais{
        justify-content: center;
    }
}

